body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
  height: 100%;
}

img {
  padding:20px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  /* position: sticky;
  top: 0;
  width: 100%; */
  /* font-family: Arial; */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: Grey;
}

.dropdown {
  /* position:relative; */
  display: inline-block;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  /* position: absolute; */
  padding: 14px 16px;
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: Purple;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:visited {
  color:lavender;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2{
  text-align: center;
}

.flexbox-container1 {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:30px;
}

.flexbox-container {
  /* width:90%; */
  display:flex;
  /* justify-content: space-between; */
  /* align-items:center; */
  /* background-color: #e5ccff; */
}

.flexbox-item {
  margin:10px;
  padding:60px;

}
.flexbox-item-1 {
  padding:10px
  /* background-color:#e6e0eb; */
  /* flex-shrink:0; */

}
.flexbox-item-2{
  padding:10px;
}

.myflexbox-container {
  display:flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-direction: column; */

}

.myflexbox-item {
  padding:15px
}

.myflexbox-item-1 {
  align-items: center;
  align-content: space-around;
}

.myflexbox-item-2{
  align-content: center;
  padding:10px;
}
/*
.practices {
  background: url(photos/tree.jpg) no-repeat center center/cover;
  z-index: -2
} */

#practices {
  margin:20px;
  border-collapse: collapse;
  width: 100%;
  padding:30px;


}

#practices td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

#practices tr:nth-child(even){background-color: #f2f2f2;}

#practices tr:hover {background-color: #ddd;}

#practices th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: purple;
  color: white;
}

.cyclescontainer {
  display:flex;
  padding: 20px;

}

.item {
  flex-grow:1;
  padding:30px;
  margin:10px;
}

.box-item-1 {
  justify-content: space-between;
}

.box-item-2 {
  justify-content: space-between;
  align-items: flex-end;
}

article {
  margin:10px;
  padding: 30px;
}

.breathing {
  box-sizing: border-box;
  background: url(photos/succulent.jpg) no-repeat center center/cover;
  padding-top: 10px;
  min-height: 400px:
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px;
  color: white;
  font-size: 3vw;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin: auto;
  position: relative;
  transform: scale(1);
}


.gradient-circle {
  background: conic-gradient(cyan, magenta, yellow, cyan);
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: -10px;
  left: -10px; */
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: blue;
  width: 90%;
  height: 90%;
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: -1;
  border-radius: 50%;

}
/*
.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  /* animation: rotate 7s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer{
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
} */

.container.grow {
  animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
  }


@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}

.refresh{
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  align-item: bottom;
}

audio {
  background-color: grey;
  padding:20px;
  border-radius: 30%;
}

 .breathaudio-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: justify;
  paddding:20px 30px;
  border: solid black;
}

.guided {
  display: flex;
  justify-content: left;
  background: url(photos/cedar.jpg)no-repeat center center/cover;
  color: white;
}

/* .img-container { */
  /* display:flex; */
  /* positon: relative; */
  /* width: 110px; */
  /* height: 100%; */
}
